---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) &ndash; Research
id: services
---
{% include services_subhead.html %}

{% assign active_subnav_item='research' %}
{% include services_subnav.html %}

<div id="singleContent">
    <h1>Research</h1>
    <p id="servicesContentTagline">Collecting information to advance knowledge and support decision making</p>
    <img src="../../images/photo_research_waterquality.png">
    <ul>
        <li>Cognitive complexity</li>
        <li>Learning and technology</li>
        <li>Learning and achievement</li>
        <li>Human performance</li>
        <li>At-risk populations</li>
        <li>Diversity</li>
    </ul>
    <p id="servicesDescription">Covering diverse subject areas, our applied research is collaborative, interdisciplinary,
    rigorous, relevant, and independent. We develop qualitative and quantitative methods to analyze issues and produce
    research that addresses the needs of practitioners and decision makers.</p>
    <div id="caseStudiesLink">
        <p><a href="/portfolio#Research"><strong>Research Portfolio</strong></a></p>
    </div>
</div>
