---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) – About
id: about
---
{% include about_subhead.html %}

{% assign active_subnav_item='cala' %}
{% include about_subnav.html %}

<div id="singleContent">

    <h1>CALA</h1>

    <p><acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> is an
    applied research center at <a href="http://www.fsu.edu/">Florida State University</a>.
    Located in Tallahassee’s premier research and development complex,
    <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
    resides at the hub of knowledge, alongside more than 40 high-tech and research-based facilities.</p>
    <p>Our roots reach back to 1972, when we began as the Career Education Curriculum Laboratory,
    created to help establish workforce education in Florida. Today, we remain committed to cultivating
    learning in all settings, from the classroom to the workplace to the Web.</p>
    <p>We embrace a holistic approach to instruction, learning, and assessment. Our goal is to help our
    clients consider the entire cycle of learning without sacrificing any one element. To that end,
    we collaborate with them to set goals, develop research-based training and assessment tools,
    and design platforms for effective presentation of information.</p>

    <h2>Technology and Security</h2>

    <p><acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> uses cutting-edge
    technology to connect with clients. We can conduct online meetings using Web and video conferencing.
    We can also provide secure <abbr title="File Transfer Protocol">FTP</abbr> access for posting and
    retrieving confidential data, along with <abbr title="Secure Sockets Layer">SSL</abbr> encryption on
    designated Web sites. Servers are protected by state-of-the-art security and an uninterruptible power supply.
    The <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
    network is located within <abbr title="Florida State University">FSU</abbr>’s area network, which provides high bandwidth
    and continuous uptime advantages to clients.</p>
    <p>Located in a building that is under 24-hour television surveillance,
    <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
    has secure offices that are accessible only by designated personnel. Secure materials are kept in
    fireproof safes in the <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
    vault, and employees who work with these materials must sign a security agreement to
    keep personal and test information and data confidential.</p>

    <h2>Staff Expertise</h2>

    <ul>
        <li><strong>Writing</strong>: Academic, technical, marketing, script</li>
        <li><strong>Editing Styles</strong>: <em>Chicago Manual</em>, <em>American Psychological Association</em>,
        <em>Associated Press</em></li>
        <li><strong>Design</strong>: Printing, Web, multimedia, illustration, presentations and displays</li>
        <li><strong>Web</strong>: <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>,
        Web standards, Ruby on Rails, JavaScript</li>
        <li><strong>Programming</strong>: C++, C#, .NET, Ruby, Object-Oriented Design</li>
        <li><strong>Statistics</strong>: SAS, SPSS</li>
        <li><strong>Accessibility Compliance</strong>: <abbr title="Americans with Disabilities Act">ADA</abbr>,
        Section 508, <abbr title="Web Content Accessibility Guidelines">WCAG</abbr></li>
    </ul>

    <h2>Certifications</h2>

    <ul>
        <li>Microsoft Certified Systems Engineer</li>
        <li>SAS Certified Base Programmer</li>
        <li>Certified NetWare Engineer and Administrator</li>
    </ul>

    <h2>Awards</h2>

    <ul>
        <li>American Educational Research Association</li>
        <li>APEX: Awards for Publication Excellence</li>
        <li>Communications Concepts, Inc.</li>
        <li>Educational Press Association of America</li>
        <li>Florida Magazine Association</li>
        <li>Florida Motion Picture and Television Association</li>
        <li>National Association of Vocational-Technical Communicators</li>
    </ul>

    <h2>Employment</h2>

    <ul>
        <li>For employment opportunities, view <a href="http://jobs.fsu.edu/">Office of Human Resources</a>.</li>
        <li>CALA is an equal opportunity employer. For information, view
            <a href="http://diversity.fsu.edu/">Office of Diversity and Equal Opportunity</a>.</li>
        <li>For information about faculty performance evaluations, merit pay increase, and promotion criteria, view
            <a href="../../files/faculty_performance_evaluation.pdf">faculty_performance_evaluation.pdf</a>.</li>
    </ul>
</div>
