<div id="subnav">
    <ul>
        <li {% if active_subnav_item == 'cala' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/about/cala/">CALA</a>
        </li>
        <li {% if active_subnav_item == 'staff' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/about/staff/">Staff</a>
        </li>
        <li {% if active_subnav_item == 'contact' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/about/contact/">Contact</a>
        </li>
    </ul>
</div>
