<div id="subnav">
    <ul>
        <li{% if active_subnav_item == 'ies' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/">Overview</a></li>
        <li{% if active_subnav_item == 'project_news' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/project_news/">Project News</a></li>
        <li{% if active_subnav_item == 'training' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/training/">Training</a></li>
        <li{% if active_subnav_item == 'publications' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/publications/">Publications</a></li>
        <li{% if active_subnav_item == 'resources' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/resources/">Resources</a></li>
        <li{% if active_subnav_item == 'research_team' %} id="selected" {% else %} id="" {% endif %}><a href="/ies/research_team/">Research Team</a></li>
    </ul>
</div>
