<div id="subnav">
    <ul>
        <li {% if active_subnav_item == 'research' %} id="selected" {% else %} id="" {% endif %}>
            <a href= "/services/research/">Research</a>
        </li>
        <li {% if active_subnav_item == 'instruction' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/services/instruction/">Instruction and Training</a>
        </li>
        <li {% if active_subnav_item == 'assessment' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/services/assessment/">Assessment and Test Development</a>
        </li>
        <li {% if active_subnav_item == 'evaluation' %} id="selected" {% else %} id="" {% endif %}>
            <a href="/services/evaluation/">Program Evaluation</a>
        </li>
        <li {% if active_subnav_item == 'development' %} id="selected" {% else %} id="" {% endif %}>
           <a href="/services/development/">Web and Multimedia Development</a>
        </li>
    </ul>
</div>
