---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) – Instruction and Training
id: services
---
{% include services_subhead.html %}

{% assign active_subnav_item='instruction' %}
{% include services_subnav.html %}

<div id="singleContent">
    <h1>Instruction and Training</h1>
    <p id="servicesContentTagline">Developing inservice activities to improve performance</p>
    <img src="../../images/photo_instruction_presenter.jpg">
    <ul>
        <li>Curriculum development</li>
        <li>Needs assessments and job-test analyses</li>
        <li>Development of goals and objectives, instructional analysis, content outlines, and delivery methods</li>
        <li>Inservice training</li>
        <li>Evaluation of the impact of instruction on audience, organizational performance, and strategic goals</li>
    </ul>
    <p id="servicesDescription">We create instructionally sound multimedia training to help organizations improve
    performance and achieve in the most effective way. We match the instruction to the need, tailoring it to the
    client’s objectives and audience. Over the years, our face-to-face and online training have reached and
    empowered thousands of people.</p>
    <div id="caseStudiesLink">
        <p><a href=""><strong>Instruction and Training Portfolio</strong></a></p>
    </div>
</div>
