---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) &ndash; Assessment and Test Development
id: services
---
{% include services_subhead.html %}

{% assign active_subnav_item='assessment' %}
{% include services_subnav.html %}

<div id="singleContent">
    <h1>Assessment and Test Development</h1>
    <p id="servicesContentTagline">Creating tests for appropriate measurement of learning</p>
    <img src="../../images/photo_assessment_testing.png" alt="Assessment Testing">
    <ul>
        <li>Task analysis and test blueprint</li>
        <li>Item specification and item development</li>
        <li>Item banking</li>
        <li>Computer-based tests</li>
        <li>Paper-and-pencil tests</li>
        <li>Secure system for administration</li>
        <li>Statistical scoring and analysis</li>
        <li>Test data management and quality control</li>
    </ul>
    <p id="servicesDescription">We are trained in the art and science of assessment and all facets of test development
    and administration, with 20 years of experience at the local, state, and federal levels. Our trained measurement
    specialists can produce multimedia assessment instruments for high-stakes achievement, advancement, licensure,
    and certification.</p>
    <div id="caseStudiesLink">
        <p><a href="/portfolio#assessmentTestDevelopment"><strong>Assessment and Test Development Portfolio</strong></a></p>
    </div>
</div>
