---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) – Contact
id: about
---
{% include about_subhead.html %}

{% assign active_subnav_item='contact' %}
{% include about_subnav.html %}

<div id="singleContent">
    <h1>Contact Information</h1>

    <div class="tight">
        <p><strong>Center for Advancement of Learning and Assessment</strong></p>
        <p>Florida State University</p>
        <p>210-B Sliger Building</p>
        <p>2035 E. Paul Dirac Drive</p>
        <p>Tallahassee, FL 32306-2801</p>
        <p>Phone: 850-645-CALA (2252)</p>
        <p>Fax: 850-645-7581</p>
        <p><a href="mailto:info@cala.fsu.edu">info@cala.fsu.edu</a></p>
        <p><a href="http://www.cala.fsu.edu/">www.cala.fsu.edu</a></p>
    </div>
    <p><a href="http://www.fsu.edu/Campus/newmap/inparkz.shtml">Map to Innovation Park</a></p>
</div>
