<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Center for Advancement of Learning and Assessment" >
  <link rel="stylesheet" href="stylesheets/styles.css" />
</head>

<body>
  <div id="main">

    <header>
      <h1>Center for Advancement of Learning and Assessment</h1>
    </header>

    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </nav>

    {{ content }}

    <footer>
      <p>&copy; 2012 Center for Advancement of Learning and Assessment</p>
    </footer>

  </div>
</body>
</html>
