---
layout: default
id: news
---
<div id="singleContent">
    <h1 id="newsHeader">News</h1>
    <ul id="articles">
    {% for post in paginator.posts %}
        <li class="article">
            <div class="articleInfo">
                <p>{{ post.date | date: '%B %d, %Y' }}</p>
            </div>
            <div class="articleContent">
                <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                {{ post.content | strip_html | truncatewords: 60 }} <a href="{{ post.url }}" title="{{ post.title }}"> read more &raquo;</a>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div id="articlesFooter">
        {{ paginator | pager_links }}
    </div>
</div>
