---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) &ndash; Staff
id: about
---
{% include about_subhead.html %}

{% assign active_subnav_item='staff' %}
{% include about_subnav.html %}

<div id="singleContent">

    <h1>Our Staff</h1>

    <p>Our team of specialists&mdash;most with advanced
    degrees&mdash;provides diverse expertise in research, education, instructional
    design, assessment and evaluation, psychometrics, software engineering,
    writing, editing, graphic design, and Web and multimedia development.</p>

    <h2>Staff Biographies</h2>

    <ul id="staffList">
        <li><strong>Sean G. Coleman</strong>, lead software designer. Sean leads his technically
          savvy team through <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s
          various software projects, from Ruby on Rails Web sites to data analysis programs. An advocate of
          Web standards, usability, and accessibility in Web design, Sean makes sure our work reaches the
          largest audience. When he’s not wriggling with code, Sean can be found on the local public
          tennis courts grinding down his opponents.</li>
        <li><strong>Michael Davidson</strong>, software engineer. Michael develops software solutions
          for the technological needs of <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>.
          He has been developing software for <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
          for 6 years and has been involved in the software development industry for 12 years.
          Because he creates game applications for instruction and assessment, Michael is one of
          the few on staff who gets paid to play games.</li>
        <li><strong>Colin Dwyer</strong>, senior graphic designer. Colin has worked in graphic design
          and illustration for 20 years, half of that time with
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>.
          He has designed various publications, displays,
          Web sites, and multimedia products. His ability as an illustrator sets him apart from other
          designers and is a skill commonly used by clients. Using his audio recording experience,
          he recorded and mixed the audio in
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s
          e-learning courses. He has an array of interests, but his
          candy-making phase is a notable favorite.</li>
        <li><strong>Alice Fisher</strong>, senior production editor. Alice puts the finishing touch on
          all deliverables, ensuring the quality of content and design. She has edited educational and
          technical materials at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>
          for more than 30 years. Trained in test measurement editing, she has an extensive knowledge of editorial
          style and production. If a comma goes missing, Alice will find it.</li>
        <li><strong>Karen Hawkins</strong>, senior writer and development editor. Karen guides an array of print
          and online materials through the creative process, from writing e-learning scripts to editing research reports.
          As a wordsmith, she brings a love of language and nearly 20 years of publishing experience to
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>. When she's not
          mending split infinitives, Karen can be found reading British literature and quoting Shakespeare to
          anyone who will listen.</li>
        <li><strong>Albert Oosterhof</strong>, professor emeritus. Al was a faculty member for 35 years in the
          Educational Psychology and Learning Systems Department at <abbr title="Florida State University">FSU</abbr>.
          He is the author of several prominent books on the subject of assessment. For the past three years, he has
          concentrated on developing a cognitive complexity model. If he’s not working on cognition, he’s
          building a kayak from scratch or going on safari in Africa.</li>
        <li><strong>Kathy Pennington</strong>, project manager. Kathy joined
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> nine years
          ago as a student assistant and has ascended the ranks to her current position. As a project manager,
          she oversees project planning, staffing, budgeting, and quality assurance. In her spare time,
          Kathy volunteers at the local animal shelter.</li>
        <li><strong>Faranak Rohani</strong>, director. Fara’s dream is to bring
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s mission to
          reality while providing a nurturing and team-oriented working environment for the staff. Her career
          over the past quarter of a century has been devoted to research dealing with the nature of knowledge
          and effective instruction and assessment. She is known for planning everyone’s life and for
          her desire to improve her tennis game so she can appear on a court with Sean.</li>
        <li><strong>Sweta Shrestha</strong>, application designer and developer. Sweta’s main responsibility is to
          write and run programs for scoring the Florida Comprehensive Assessment Test. She majored in computer science
          and enjoys database and parallel programming. In her spare time, Sweta can be found cheering on the Chelsea FC.</li>
        <li><strong>Peggy Stillwell</strong>, training specialist. Peggy develops and delivers training to
          content specialists and consults with other <acronym title="Center for Advancement of Learning and Assessment">
          CALA</acronym> staff on test development issues. She has been developing, administering, and analyzing
          assessments for more than 30 years. She has been involved in the development of statewide high-stakes
          reading tests for departments of education in several states, including Florida, Georgia, Ohio,
          Indiana, West Virginia, Maryland, New York, and Colorado. Reading truly is &#8220;in her blood.&#8221;</li>
    </ul>

    <h2>In Memoriam</h2>

    <div id="memoriam">
        <p><strong>FJ King</strong> (February 4, 1927–April 21, 2011), professor emeritus. FJ was a faculty member for 50
        years in the Educational Psychology and Learning Systems Department at <abbr title="Florida State University">FSU</abbr>.
        For nearly half that time, he served as a member of our research team. He was a nationally known expert in assessment,
        with numerous published articles in his field. His final research was related to computer-written versus handwritten
        essays. His passion was to ride his antique tractor while puffing on his pipe.</p>
    </div>
</div>
