---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) &ndash; Staff
id: about
---
{% include about_subhead.html %}

{% assign active_subnav_item='staff' %}
{% include about_subnav.html %}

<div id="singleContent">

    <h1>Our Staff</h1>

    <p>Our team of specialists&mdash;most with advanced
    degrees&mdash;provides diverse expertise in research, education, instructional
    design, assessment and evaluation, psychometrics, software engineering,
    writing, editing, graphic design, and web and multimedia development.</p>

    <h2>Staff Biographies</h2>

    <ul id="staffList">
		<li><strong>Laura Adams</strong>, program coordinator. Laura is responsible for coordinating activities 
			related to <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s assessment projects and for processing all payroll and personnel activities. A graduate of 
			Florida State University (FSU), she has been with <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> since March 2012. Away from the office, 
			Laura enjoys live music and reading. </li>
		<li><strong>Lillian Caldwell</strong>, office assistant. Lilly has worked with <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> for about a year while studying 
			at <abbr title="Florida State University">FSU</abbr>. She assists with office activities and other daily tasks such as filing, scanning, and delivering 
			documents to clients around the Tallahassee area. In her free time, Lilly can be found playing Ultimate 
			Frisbee for the <abbr title="Florida State University">FSU</abbr> women’s club team. </li>
        <li><strong>Sean G. Coleman</strong>, lead software designer. Sean leads his technically savvy team through 
			<acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s various software projects, from Ruby on Rails websites to data analysis programs. An advocate of web 
			standards, usability, and accessibility in web design, Sean makes sure our work reaches the largest audience. 
			When he’s not wriggling with code, Sean can be found on the local public tennis courts grinding down his opponents.</li>
        <li><strong>Michael Davidson</strong>, software engineer. Michael develops software solutions for 
			the technological needs of <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>. He has been developing software for 
			<acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> for nearly 10 
			years and has been involved in the software development industry for more than 15 years. Because he creates game applications for instruction and 
			assessment, Michael is one of the few on staff who gets paid to play games.</li>
        <li><strong>Colin Dwyer</strong>, senior graphic designer. Colin has worked in graphic design and illustration 
			for more than 20 years, half of that time with <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>. He has designed various publications, displays, websites, 
			and multimedia products. His ability as an illustrator sets him apart from other designers and is a skill commonly 
			used by clients. Using his audio recording experience, he recorded and mixed the audio in CALA’s e-learning courses. 
			Colin has an array of interests, but his candy-making phase was a notable favorite.</li>
        <li><strong>Alice Fisher</strong>, senior production editor. Alice puts the finishing touch on all deliverables, 
			ensuring the quality of content and design. She has edited educational and technical materials at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> for 
			more than 30 years. Trained in test measurement editing, she has an extensive knowledge of editorial style and production. 
			If a comma goes missing, Alice will find it. When not at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>, Alice is 
			petting the neighborhood cat and embracing change.</li>
        <li><strong>Karen Hawkins</strong>, senior writer and development editor. Karen guides an array of print and online materials 
			through the creative process, from writing e-learning scripts to editing research reports. As a wordsmith, she brings a love of 
			language and 20 years of publishing experience to <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>. When she's 
			not mending split infinitives, Karen can be found 
			reading British literature and quoting Shakespeare to anyone who will listen.</li>
		<li><strong>Adam LaMee</strong>, graduate research assistant. Adam is pursuing graduate study in experimental high energy physics at <abbr title="Florida State University">FSU</abbr>. 
			As part of the <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> team, he researches science competencies that go unassessed in 
			statewide high-stakes tests, drafting alternative 
			performance assessments and acting as a liaison with the project’s participating middle school teachers. When he isn’t smashing protons 
			in Switzerland, Adam enjoys learning to play new musical instruments and tinkering on his 1957 Chevy Belair.</li>
        <li><strong>Albert Oosterhof</strong>, professor emeritus. Al was a faculty member for 35 years in the
          Educational Psychology and Learning Systems Department at <abbr title="Florida State University">FSU</abbr>.
          He is the author of several prominent books on assessment and has developed a cognitive complexity model. If he’s not working on cognition, Al is
          building a kayak from scratch or going on safari in Africa.</li>
        <li><strong>Kathy Pennington</strong>, project manager. Kathy joined
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> in 2000 as a student assistant and has ascended
			the ranks to her current position. As a project manager,
          	she oversees project planning, staffing, budgeting, and quality assurance. In her spare time,
          	Kathy volunteers at the local animal shelter.</li>
        <li><strong>Faranak Rohani</strong>, director. Fara’s dream is to bring
          <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s mission to
          reality while providing a nurturing and team-oriented working environment for the staff. Her career
          over the past quarter of a century has been devoted to research dealing with the nature of knowledge
          and effective instruction and assessment. When not doing research, Fara is known for planning everyone’s life and for
          her desire to improve her tennis game so she can appear on a court with Sean.</li>
		<li><strong>Aaron Rouby</strong>, graduate research assistant. Aaron develops performance assessments, scoring rubrics, 
			and training materials related to <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s science assessment project. He has a master’s degree in 
			social psychology, background in research methods and statistics, and is currently pursuing a degree in visual disabilities. 
			In his free time, Aaron enjoys playing guitar and basketball.</li>
		<li><strong>Danielle Sherdan</strong>, science expert. Danielle is part of the research team that is investigating ways to improve 
			how students are assessed in middle school science. She has worked as a project manager and science specialist at 
			the Florida Center for Research in Science, Technology, Engineering, and Mathematics at <abbr title="Florida State University">FSU</abbr> and has received awards 
			for teaching and research. When not working, Danielle is chasing the bats and birds that are chasing the beetles 
			from mango tree to mango tree in Brasília, Brazil.</li>	
        <li><strong>Sweta Shrestha</strong>, application designer and developer. Sweta’s main responsibility is to
          write and run programs for scoring the Florida Comprehensive Assessment Test. She majored in computer science
          and enjoys database and parallel programming. In her spare time, Sweta can be found cheering on the Chelsea FC.</li>
        <li><strong>Peggy Stillwell</strong>, training specialist. Peggy develops and delivers training to
          content specialists and consults with other <acronym title="Center for Advancement of Learning and Assessment">
          CALA</acronym> staff on test development issues. She has been developing, administering, and analyzing
          assessments for more than 30 years. She has been involved in the development of statewide high-stakes
          reading tests for departments of education in several states, including Florida, Georgia, Ohio,
          Indiana, West Virginia, Maryland, New York, and Colorado. Reading truly is &#8220;in her blood.&#8221;</li>
		<li><strong>Kay Sullivan</strong>, 
			accounting specialist. Kay coordinates <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s accounting processes in accordance with university and agency 		
			requirements. She has worked in the accounting field for more than nine years, and has allocated and reconciled budgets at 
			<acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> since March 2012. 
			Her favorite place in the world is Stratford-Upon-Avon, where she visits to immerse herself in the Shakespearean culture.</li>
		<li><strong>Umit Tokac</strong>, graduate research assistant. Umit is a Ph.D. candidate in measurement and statistics at <abbr title="Florida State University">FSU</abbr>. 
			He received his bachelor’s and master’s degrees in mathematics education in Turkey and a second master’s degree from <abbr title="Florida State University">FSU</abbr> in 
			measurement and statistics. He has been working at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> for a year. Umit spends most of his time running 
			and playing soccer.</li>
		<li><strong>Brian Vagnini</strong>, systems administrator. Brian is the administrator of <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>’s 
			servers, workstations, and other network-related 
			equipment. He has numerous computer-related certifications and more than 13 years of experience working with a variety of computer software and hardware, 
			as well as training others on their use. When not working at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym>, Brian spends his time playing 
			music or writing fiction.</li>
		<li><strong>Lee Edwin Walton</strong>, graduate research assistant. Lee is working toward his master’s degree in science teaching with a 
			double focus in biology and chemistry. His focus at <acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> is the design of science assessments that probe 		
			deep-level understanding using nonmultiple-choice methodology. In his free time, Lee loves a good drum circle and is currently training for his fourth marathon.</li>
		<li><strong>Yan Xia</strong>, graduate research assistant. Yan is a doctoral student in measurement and statistics. He joined 
			<acronym title="Center for Advancement of Learning and Assessment">CALA</acronym> as a research assistant and is mainly responsible for the data analysis pertaining to generalizability 		
			theory. He has a special research interest in structural equation modeling and item response theory. Yan is a big foodie and enjoys cooking a variety of spicy food.</li>
    </ul>

    <h2>In Memoriam</h2>

    <div id="memoriam">
        <p><strong>FJ King</strong> (February 4, 1927–April 21, 2011), professor emeritus. FJ was a faculty member for 50
        years in the Educational Psychology and Learning Systems Department at <abbr title="Florida State University">FSU</abbr>.
        For nearly half that time, he served as a member of our research team. He was a nationally known expert in assessment,
        with numerous published articles in his field. His final research was related to computer-written versus handwritten
        essays. His passion was to ride his antique tractor while puffing on his pipe.</p>
    </div>
</div>
