---
layout: default
title: Center for Advancement of Learning and Assessment -- IES
id: ies
---
{% assign active_subnav_item = 'project_news' %}
{% include ies_subnav.html %}

<div id="singleContent">
    <div id="iesProjectNews">
        <p id="iesTagLine">Improving Science Assessments</p>
        <h1>Project News</h1>
        {% assign post = site.categories.ies[0] %}
        <div class="article">
            <div class="articleInfo">
                <p>{{ post.date | date: '%B %d, %Y' }}</p>
            </div>
            <div class="articleContent">
                {{ post.content }}
            </div>
        </div>

        <ul id="articles">
        {% for post in site.categories.ies offset:1 %}
            <li><p>{{ post.date | date: '%B %d, %Y' }} &mdash; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p></li>
        {% endfor %}
        </ul>
    </div>
</div>
