---
layout: default
title: Improving Science Assessments &ndash; Project News
id: ies
---
{% assign active_subnav_item = 'project_news' %}
{% include ies_subnav.html %}

<div id="singleContent">
    <div id="iesProjectNews">
        <p id="iesTagLine">Improving Science Assessments</p>
        <h1>Project News</h1>
        <ul id="articles">
        {% for post in site.categories.ies %}
            <li>
                <div class="article">
                    <div class="articleTime"><p>{{ post.date | date: '%B %d, %Y' }}</p></div>
                    <div class="articleTitle"><p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p></div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
