---
layout: default
title: Center for Advancement of Learning and Assessment (CALA) &ndash; Web and Multimedia Development
id: services
---
{% include services_subhead.html %}

{% assign active_subnav_item='development' %}
{% include services_subnav.html %}

<div id="singleContent">
    <h1>Web and Multimedia Development</h1>
    <p id="servicesContentTagline">Designing platforms for interactive user experience</p>
    <img src="../../images/photo_development_meeting.png", alt="">
    <ul>
        <li>Websites</li>
        <li>Portals</li>
        <li>Database development</li>
        <li>Computer-based training</li>
        <li>Public-awareness campaigns</li>
        <li>Manuals, guides, and workbooks</li>
        <li>Research, annual, and status reports</li>
        <li>Newsletters, journals, and bulletins</li>
        <li>Flyers, brochures, and posters</li>
    </ul>
    <p id="servicesDescription">From websites to multimedia marketing, we strive to educate and inform by using the
    most engaging techniques possible. We assemble a creative team of writers, editors, graphic designers, and web
    developers to build solutions that are elegant, simple, and powerful. Our web designs are carefully constructed
    according to web standards, with an emphasis on usability and accessibility.</p>
    <div id="caseStudiesLink">
        <p><a href="/portfolio/#webMultimediaDevelopment"><strong>Web and Multimedia Development Portfolio</strong></a></p>
    </div>
</div>
